
.tooltip-header {
display: block;
font-size: 14px;
margin-bottom: 4px;
width: 100%; 
}
.tooltip-header > div {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
width: 100%;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }
.tooltip-item > div {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex; }

.tooltip-item > span:not(:first-child) {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
text-align: right; }

.highcharts-tooltip-circle {
display: inline-block;
border-radius: var(--border-radius-circle);
height: 8px;
margin-right: var(--space-xs);
width: 8px; }
.tooltip-circle {
width: 8px;
height: 8px;
display: block;
margin-right: 4px;
border-radius: 50%; }


  .layout-native .card{
    padding:var(--space-base);
  }
  /*! 6.2.6. Card Background */
  .card-background{
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    border-radius:var(--border-radius-soft);
    color:var(--color-neutral-0);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    overflow:hidden;
    padding:var(--space-m);
    position:relative;
  }
  